/************************************************************/
/*                        RESET CSS                         */
/************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/************************************************************/
/*                          GLOBAL                          */
/************************************************************/
:root {
    --mainYellow: rgb(253, 216, 46);
    --mainYellowTransparent: rgba(253, 216, 46,.6)
}
html{
    scroll-behavior: smooth;
}
::selection{
    background-color: var(--mainYellowTransparent);
}
body {
    background-image: url("./medias/background.png");
    background-repeat: repeat;
    background-size: contain;
    overflow-x: hidden;
    font-family: 'Caveat', cursive;
}
h1 {
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
    margin-top: 25px;
}
h2 {
    text-shadow: black 1px 1px 1px, black -1px 1px 1px, black 1px -1px 1px, black -1px -1px 1px;
    font-size: 1.8em;
    color: var(--mainYellow);
    font-weight: bold;
    margin: 0 0 20px 0;
}
h5{
    width: 80%;
    margin:auto;
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    color:black;
}
h5 span{
    font-style: italic;
    font-size: .7em;
    font-weight: 600;
}
hr {
    width: 15%;
    min-width: 200px;
    height: 5px;
    background-color: var(--mainYellow);
    border-radius: 5px;
    border: 1px dashed black;
    margin-bottom: 25px;
}
h6{
    opacity: 0;
}
p{
    font-size:2em;
}
a, a:visited{
    text-decoration: none;
}
/************************************************************/
/*                        LANDING                           */
/************************************************************/

#landing {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: url(./medias/landingImage.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#landing img{
    display: block;
    height: 40%;
    margin: 65px auto 50px auto;
}

#landing a{
    z-index: 50;
    display: block;
    position: absolute;
    width:100px;
    left:50%;
    top:75vh;
    margin: auto;
    transform: translate(-50%,0) rotate(90deg);
    color: var(--mainYellow);
    font-family: "Mansalva", cursive;
    font-size: 4em;
    line-height: 4em;
    text-align: center;
    text-shadow: black 1px 1px 1px, black -1px 1px 1px, black 1px -1px 1px, black -1px -1px 1px;
    animation: floatBtn 3s infinite ease;
    cursor: pointer;
    transition: .3s;
}

#landing a:visited{
    color: var(--mainYellow);
}
/************************************************************/
/*                         MAIN                             */
/************************************************************/
main {
    box-shadow: black 0px 0px 20px;
    padding: 5% 10%;
}
article a{
    font-size: .7em;
    text-decoration-color: var(--mainYellow);
text-shadow: black 1px 1px 1px, black -1px 1px 1px, black 1px -1px 1px, black -1px -1px 1px;
}
article a:hover{
    text-decoration: underline;
}

article a:visited{
    color: var(--mainYellow);
    text-decoration: underline;
    text-decoration-color: var(--mainYellow);
}
    article {
    display: flex;
    flex-direction: column;
}
article .texte{
    margin:10px auto;
    width: 80%;
    text-align: center;
}
article img{
    box-shadow: black 0px 0px 20px;
    width: 80%;
    margin: 10px auto 0 auto;
}
#itscool{
    display: block;
    margin: 20px auto -20px auto;
    min-width: 150px;
    width: 20%;
}
/************************************************************/
/*                        FOOTER                            */
/************************************************************/
footer{
    background-color: var(--mainYellow);
    text-align: center;
    height: 40px;
    padding:10px;
}
footer img {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin:0 10px;
}
/************************************************************/
/*                        FORM                              */
/************************************************************/
#form {
    margin: 0 15% 0 15%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
form input {
    height: 40px;
    border:2px solid var(--mainYellow);
}
#email, select{
    width:100%;
}
input::placeholder, select, input{
    font-family: 'Caveat', cursive;
    font-size: 1.3em;
} 
#nom, #prenom, #email, #telephone, select{
    margin-bottom: 50px;
    min-width: 350px;
    width: 50%;
}
#validation{
    display: block;
    text-align: center;
    height: 30px;
}
select{
    height: 50px;
    border:2px solid var(--mainYellow);
}
#validation label{
    font-size: 25px;
    vertical-align: top;
}
#validation input{
    height: 30px;
    padding: 0;
    margin:0;
}

input[type="submit"]{
    margin: 50px auto;
    background-color: var(--mainYellow);
    font-weight: bold;
    color:black;
    font-size: x-large;
    width: max-content;
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    border: 2px solid var(--mainYellow);
    transition: .3s; 
}
input[type="submit"]:hover{
    border: 2px solid black;
}
/************************************************************/
/*                         CARTE                            */
/************************************************************/

.bouttonInscription{
    display: block;
    margin: 0 auto;
    background-color: var(--mainYellow);
    font-weight: bold;
    color:black;
    font-size: x-large;
    width: max-content;
}

#carte {
    text-align: center;
    margin: 0 0 50px 0;
}

.button {
    line-height: 45px;
    vertical-align: center;
    text-align: center;
    padding:10px 50px;
    border: 2px solid var(--mainYellow);
    box-sizing: border-box;
    transition: .3s;
    margin-top: 40px;
}
.button:hover{
    border: 2px solid black;
}
iframe{
    width:90%;
    clip-path: polygon(0 11.5%, 100% 11.5%, 100% 100%, 0% 100%);
}
/************************************************************/
/*                       EVENEMENT                          */
/************************************************************/
#h2Evenement,
#pEvenement {
    text-align: center;
    width: 80%;
    margin: auto;
}
/************************************************************/
/*                         NAVABR                           */
/************************************************************/
#events, #articles, #inscription{
    padding-top: 100px;
}
nav {
    z-index: 100;
    position: sticky;
    top: 0;
    left: 0;
    width: calc(100%-60px);
    height: auto;
    background: white;
    border-bottom: 5px solid var(--mainYellow);
    font-size: 2em;
    padding: 15px 30px;
}
nav h4{
    font-weight: bold;
    margin: 0;
    font-size: 1em;
}
nav ul {
    all: unset;
    height: calc(100vh - 1em - 12px);
    background: white;
    position: absolute;
    margin: calc(1em - 12px) 0;
    left: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.burger-btn {
    position: absolute;
    right: 1em;
    width: 1em;
    font-size: 1em;
    height: 1em;
    margin: -.9em .1em;
    opacity: 0;
}
.burger-check {
    pointer-events: none;
    position: absolute;
    right: 1em;
    height: .15em;
    width: 1em;
    margin: -.5em .1em;
    background: lightgrey;
    visibility: hidden;
}

.burger-check::before {
    content: "";
    background: lightgrey;
    height: .15em;
    display: inline-block;
    width: 1em;
    position: absolute;
    margin: -.3em 0;
}
.burger-check::after {
    content: "";
    background: lightgrey;
    height: .15em;
    display: inline-block;
    width: 1em;
    position: absolute;
    margin: .3em 0;
}
.burger-btn:checked~.burger-check {
    background: transparent;
}
.burger-btn:checked~.burger-check::before {
    transform: rotate(45deg);
    margin: 0;
}
.burger-btn:checked~.burger-check::after {
    transform: rotate(-45deg);
    margin: 0;
}
.burger-btn:checked~ul {
    transform: translate(-100%);
}
.burger-check {
    visibility: visible;
}
nav ul a{
    color: black;
}
nav ul li {
    display: block;
    text-align: center;
}
/************************************************************/
/*                         DESKTOP                          */
/************************************************************/
@media screen and (min-width: 768px) {
.burger-check{
    visibility: hidden;
}
iframe{
    min-width: 600px;
    width:50%;
}
#itscool {
    width: 15%; 
}
article {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 100px 0;
}
article img{
    height: 500px;
    width: 583px;
    margin: 0 50px 0 0;
}

article .texte { 
    width: calc(80% - 500px);
    position: absolute;
    height:fit-content;
    top:50%;
}
#article2{
    flex-direction: row-reverse;
}
#article2 .texte{
    text-align: right;
    transform: translateY(-50%);
    right: 600px;
}
#article2 img{
    margin: 0 0 0 50px;
}
#article1 .texte, #article3 .texte{
    text-align: left;
    transform: translateY(-50%);
    left: 600px;
}

nav{
    padding: 15px 2%;
}

nav ul {
    all: unset;
    float: right;
    transform: translate(0,0) !important;
}
nav ul a li {
    margin: 0 15px;
    display: inline;
}

nav h4 {
    display: inline;
}

li:hover {
    position: relative;
}

li:hover::after {
    content: "";
    left: -5%;
    top: 0.25em;
    position: absolute;
    width: 110%;
    height: 1em;
    transform: rotate(-1deg);
    opacity: 0.3;
    border-radius: 0.25em;
    background: var(--mainYellow)
}

li:hover::before {
    content: "";
    left: -5%;
    top: 0.25em;
    position: absolute;
    width: 110%;
    height: 1em;
    transform: rotate(1deg);
    opacity: 0.3;
    border-radius: 0.25em;
    background: var(--mainYellow)
}
}

@media screen and (max-width: 1200px) {
    article {
        all: unset !important;
    }
    #article1 .texte, #article2 .texte, #article3 .texte{
        width: 80% !important;
        text-align: center !important;
    
    }
    article img{
        width: 80% !important;
        height: auto !important;
        margin: 10% 10% 2% 10% !important;
    }

    article .texte{
        position: initial;
        margin: auto;
        transform: translateY(0) !important;
    }
}


/************************************************************/
/*                        ANIMATIONS                        */
/************************************************************/
@keyframes floatBtn{
    0%{
        transform:rotate(90deg) translate(-15px,25px); 
    }
    50%{
        transform:rotate(90deg) translate(15px,25px); 
    }
    100%{
        transform:rotate(90deg) translate(-15px,25px); 
    }
}